.header{  
  position: fixed; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #EC2F3A;
  color: white;
  font-family: 'Molle', cursive;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 10;
  top: 0;
  left:0;
  width: 100vw;
}

h1{
  font-family: 'Molle', cursive;
  font-size: 3rem;
}
body{
  background-color: #1D1D2C;
  font-family: 'Lato', sans-serif;
  color: white;

}

.footer{
  background-color: #F5644A;
  color:white ;
  /* position: fixed; */
  text-align: center;
  font-family: 'Molle', cursive;
  font-size: 1.25rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh; 
}


main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:10vh;
  margin-bottom: 10vh;

}
.users-wrapper{
  display: flex;
  flex-direction: column;
}
.user{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  padding: 1vh 1vw;
}
.login{
  height: 70vh;
}

.events-wrapper{
  display: flex;
  flex-direction: column;
}
.event{
  width: 20vw;
  display: flex;
  flex-direction: column;
  border: 1px solid #1D1D2C;
  background-color: rgba(255, 255, 255,0.9);
  color: #1D1D2C;
  padding: 1vh 1vw;
}
nav{
  display: flex;
  justify-content: flex-end;

}
a{
  text-decoration: none;
  color:white;
}
.createButton{
  text-align:right
}
.user >img{
  width: 5vw;
  height: 70%;
  margin: 1vh 1vw;
}

.event >img{
  width: 15vw;
}

button{
  width: 10vw;
  height: 4vh;
  margin: 1vh 1vw;
}
.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.registrationForm
{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
input{
  margin: 1vh 1vw;
}
a :hover{
  color: black;
}
span{
  font-family: 'Molle', cursive;
  font-size: 1.5rem;
}

.categoriesContainer{
  /* min-height: 100%; */
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.icon{
  font-size: 3em;
}
.row{
 margin: 1vh 1vh;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;

}
.categoriesContainer a{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  width: 5vw; 
  height: 5vh;
  border-radius: 50%;
  border: 0.01em solid #1D1D2C;
  margin: 0.1vh 0.1vw;
  padding:1vh 1vw;
  background-color: rgb(245, 167, 33);
  color: #1D1D2C;
}

.events-by-category{
display: flex;
}

.events-by-category .event{
  margin: 0px 2vw;
}

.events-by-category img{
  width: 10vw;
}
.upcoming-events{
  text-align: center;
  background-color: #FF9C5B;
  margin: 10vh 10vw;
}

